* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: "Source Sans 3", sans-serif;
  font-size: 62.5%;
  color: var(--opaque-blue);
}
:root{
  --blue-king:  #2c4cca;
    --opaque-blue:  #1f3e72;
    --light-blue:  #f1f5ff;
    --yellow:  #ffd012;
    --off-blue:  #e2e9f9;
    --white:  #FFFFFF;
    --off-pink:  #ffe1ea
}
/*arriba de aqui son las configuraciones de la letra, y HTML en general*/

/*seccion nav*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  z-index: 3;
  padding: 0px 95px;
}
nav nav.left{
  display: flex;
  align-items: center;
  width: 30%;
  height: 40px;
}
nav .nav-left p {
  height: 40px;
  color: var(--blue-king);
  font-size: 2.6rem;
}
nav .nav-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 100%;
  font-size: 1.4rem;
}
nav .nav-right .nav-list{
  display: flex;
  justify-content: space-around;
}
nav .nav-right li {
  list-style: none;
  margin: 0px 20px;
}
nav nav.right .nav-button-container {
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-button{
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color:var(--blue-king);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
}
