* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: "Source Sans 3", sans-serif;
  font-size: 62.5%;
  color: var(--opaque-blue);
}
:root{
  --blue-king:  #2c4cca;
    --opaque-blue:  #1f3e72;
    --light-blue:  #f1f5ff;
    --yellow:  #ffd012;
    --off-blue:  #e2e9f9;
    --white:  #FFFFFF;
    --off-pink:  #ffe1ea
}
/*arriba de aqui son las configuraciones de la letra, y HTML en general*/

/*seccion nav*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  z-index: 3;
  padding: 0px 95px;
}
nav .nav-left{
  display: flex;
  align-items: center;
  width: 30%;
  height: 40px;
}
nav .nav-left p {
  height: 40px;
  color: var(--blue-king);
  font-size: 2.6rem;
}
nav .nav-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 100%;
  font-size: 1.4rem;
}
nav .nav-right .nav-list{
  display: flex;
  justify-content: space-around;
}
nav .nav-right li {
  list-style: none;
  margin: 0px 20px;
}
nav .nav-right .nav-button-container {
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-button{
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color:var(--blue-king);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
}
/*zona 1 fight virus-*/

.tittle-section{
  width: 100%;
  height: 650px;
  display: flex;
}

/*zona 1 -izquierda-*/
.title-section .title-container {
  width: 50%;
  height: 580px;
  padding: 170px 100px 150px 90px;
}
.title-section .title-container h1 {
  font-size: 4.2rem;
}
.title-section .title-container p {
  width: 270px;
  font-size: 1.4rem;
  margin: 15px 0px;
}
.title-section .title-container .yellow-icon-container{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.title-section .title-container .yellow-icon-container .small-icon{
  width: 12px;
  height: 12px;
  margin: 0px 10px;
  padding: 5px;
}
.title-section .title-container .yellow-icon-container .shield{
  background: url(./icon/shield.png) center center/ contain no-repeat;
}
.title-section .title-container .yellow-icon-container .star{
  background: url(./icon/star-2.png) center center/ contain no-repeat;
}
.title-section .title-container .schedule-container{
  width: 300px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 50px;
}
.title-section .title-container .schedule-container span{
  width: 12px;
  height: 12px;
  margin: 0px 10px;
  padding: 5px;
  background: url(./icon/time.png) center center/ contain no-repeat;
}
.title-section .title-container .schedule-container p{
  font-size: 1.6rem;
  font-weight: 700;
}
/*zona 1 -derecha-*/
.title-section .title-image{
  height: 650px;
  display:flex;
  justify-content: center;
}
.title-section .title-image img {
  width: 100%;
  object-fit: cover;
}
/*zona 1 -floating card-*/
.floating-card{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 90px;
  top: 530px;
  width: 65%;
  min-width: 660px;
  height: 100px;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px 1px;
  padding: 15px 50px;
  border-radius: 5px;
}
.floating-card-left{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.floating-card-icon{
  width: 12px;
  height: 12px;
  align-self: baseline;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 4px;;
  margin: 5px 10px 0px 20px;
  padding: 1px;
  background: center center / contain no-repeat;
}
.pin-icon{
  background-image: url(./icon/placeholder-filled-point.png);
}
.calendar-icon{
  background-image: url(./icon/calendar.png);
}
.shot-icon{
  background-image: url(./icon/pencil.png);
}
.floating-card-right{
  justify-self: center;
  padding: 10px;
}
